TEST
cube
IMDb_graph/*
IMDb_raw/*
IMDb_relational/*
DOCtorWho/data/*
movies-relational/*
DOCtorWho/*.html
DOCtorWho/*.txt
DOCtorWho/*.zip
*.zip
exercise*.sql
recursive_SQL
test*
DOCtorWho/exercise3.py
*~