# $Id: sqltool.rc 5871 2018-12-22 16:56:06Z unsaved $

# If you have the least concerns about security, then secure access to
# your RC file.

# Global default.  .+ matches all lookups:
urlid .+ 
username SA
password

# Windows users are advised to use forward slashes instead of back-slashes,
# and to avoid paths containing spaces or other funny characters.  

# A personal, local, persistent database.
# Inherits username and password from default setting above.
urlid db1a 
url jdbc:hsqldb:file:/home/tgg22/working/lectures/db1A/build_databases.cst.cam.ac.uk/movies-relational/movies;shutdown=true
transiso TRANSACTION_READ_COMMITTED
